@import "variables";

@import "node_modules/bootstrap/scss/bootstrap";

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    &.mobile {
        position: relative;
    }
}

/* Common */
::-webkit-scrollbar { 
    display: none !important; 
}

.input-group-icon {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0.25rem;
}

.inner-addon {
    position: relative;
  }
  
  .inner-addon .icon {
    position: absolute;
    padding: 0.375rem 0.75rem;
    pointer-events: none;
  }
  
  .left-addon .icon  { left:  0px;}
  .right-addon .icon { right: 0px;}
  
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }

.btn-info {
    color: #ffffff;
}

.btn-link {
    color: #7D7979;
}

/* Desktop Version */
.desktop {

    .wrapper {
        margin: 80px 0;
        min-height: calc(100vh - 95px);
    }

    .navbar {
        min-height: 75px;
    }

    .card-header {
        text-align: center;
        background-color: #ffffff;
    }

    .b-forgot {
        width: 450px;
    }

    .b-forgot-body__text {
        text-align: center;
        margin-bottom: 30px;
    }

    .b-forgot-body {
        padding: 30px 40px;
    }

    .b-group {
        margin-bottom: 30px;
    }

    .label-required {
        &::after {
            content: "*";
            color: #C94656;
        }
    }

    .footer {
        background: #275771;
    }

    .b-footer {
        padding: 23px 0;
        height: 75px;
    }

    .link-white {
        color: #ffffff;
    }
}

/* Mobile Version */
.mobile {

    .wrapper {
        margin-top: 25px;
    }

    .search-wrapper {
        padding: 1rem;
        background-color: #ffffff;
    }

    .content {
        background-color: #ffffff;
    } 

    .navbar {
        min-height: 55px;
    }

    .navbar-logo {
        text-align: center;
    }

    .navbar-bottom {
        display: flex;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        box-shadow: 0px -3px 10px rgba(0,0,0,.1); 
    }

    .navbar__icon {
        position: absolute;
    }

    .navbar__center {
        font-size: 18px;
        float: none;
        margin: 0 auto !important;
        color: #ffffff;
    }

    .card {
        border-radius: 0;
        border: none;
    }

    .card-header {
        text-align: center;
        background-color: #ffffff;
        border-radius: 0;
    }

    .card-body__icon {
        margin: 20px 0 30px 0;
    }

    .card-body__text {
        text-align: center;
        margin-bottom: 30px;
    }

    .card-body__questions {
        @extend .card-body__text;
        margin-top: 15px;
        text-align: center;
        color: #7d7979;
    }

    .text--small {
        font-size: 14px;
    }

    .b-forgot {
        min-height: 100vh;
    }

    .b-group {
        margin-bottom: 30px;
    }

    .label-required {
        &::after {
            content: "*";
            color: #C94656;
        }
    }

    .filter {
        .filter__item {
            padding: 1rem 1rem 1rem 0;
            .filter__options {
                font-size: 14px;
                color: #6c757d;
            }
        }
    }
}
