body.mobile {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #303030;
  font-size: 14px;
  position: relative;
  background: #f7f7f7;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

.mobile p {
  margin-bottom: .3rem;
}

/* Modal */

.modal {
  display: flex !important;
  align-items: center;
  transition: .3s all ease;

  .modal-dialog {
    width: 500px;
    max-width: 100%;
  }

  .modal-content {
    border: none;
  }

  &.fade.in {
    opacity: 1 !important;
    visibility: visible;
  }
}

.modal-backdrop.in {
  opacity: 0.3 !important;
  visibility: visible;
}

.modal {
  &.fade.in .modal-dialog {
    transform: translate(0, 0%);
  }

  .modal-header {
    position: absolute;
    width: 100%;
    z-index: 1;
    border-bottom: 0px;
    top: 0;
    left: 0;
    padding: 0px;

    .close {
      margin: 0 0 0 auto;
      padding: 5px 15px;
      font-weight: 100;
      font-size: 40px;
      line-height: 1;
      transition: .3s all ease;

      &:hover,
      &:active,
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .modal-body {
    padding: 30px;
  }
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: #7D7979 !important;
  font-weight: 300;
}

.mobile {
  ul {
    &.ul-clean {
      list-style: none;
      padding-left: 0px;
    }

    &.ul-green {
      list-style: none;
      padding-left: 35px;

      li:before {
        color: #41D6C3;
        content: "\2022";
        font-size: 20px;
        line-height: 1;
        vertical-align: middle;
        font-weight: bold;
        display: inline-block;
        width: 2em;
        margin-left: -2em;
      }
    }
  }

  body a {
    text-decoration: none;
    color: #303030;

    &:hover,
    &:active,
    &:focus {
      color: #303030;
    }
  }

  a {
    &.btn {

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }

    &.badge {

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }

    &.link-clean {

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .font-big {
    font-size: 1.25rem;
  }

  .text-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text-normal {
    font-weight: 300;
  }

  .text-semibold {
    font-weight: 400;
  }

  .text-bold {
    font-weight: 500;
  }

  .text-gray {
    color: #7D7979;
  }

  .text-red {
    color: #C94656;
  }

  .text-blue {
    color: #42A1EC;
  }

  .text-dark-blue {
    color: #195178;
  }

  .text-same-line {
    display: inline-flex;
  }

  .img-white {
    filter: brightness(0) invert(1);
  }

  .img-thumbnail {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    padding: 0px;
    border: none;
  }

  .gravatar {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: rgba(223, 240, 252, 0.5);
  }

  .img-thumbnail {
    .img-thumbnail__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.img-thumbnail--big {
      width: 100px;
      height: 100px;
    }

    &.img-thumbnail--small {
      width: 40px;
      height: 40px;
    }

    &.img-thumbnail--full {
      width: 100%;
      border-radius: 0;
      height: 180px;
    }
  }

  .header-title {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
  }

  .home-spacer {
    margin: 0px;

    &.home-spacer--white {
      border-color: #ffffff;
      opacity: .5;
    }
  }

  .img-responsive {
    max-width: 100%;
  }

  .bg-green {
    background: #275771;
  }

  .bg-blue {
    background: #E8EEF4;
  }

  .bg-dark-blue {
    background: #C2D9F4;
  }

  .link-white {
    color: #FFFFFF;

    &:hover,
    &:focus,
    &:active {
      color: #FAFAFA;
      text-decoration: underline;
    }
  }

  .link-green {
    color: #41D6C3;

    &:hover,
    &:focus,
    &:active {
      color: #41D6C3;
      text-decoration: underline;
    }
  }

  .link-blue {
    color: #42A1EC;

    &:hover,
    &:focus,
    &:active {
      color: #42A1EC;
      text-decoration: underline;
    }
  }

  .blue-line {
    height: 4px;
    background: #41A1EC;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
  }

  .input-group.input-group--addons {
    border-radius: 4px;
    background: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;

    img {
      max-height: 25px;
      max-width: 25px;
    }

    input {
      margin: 0px;
    }

    .input-group__left {
      padding: 0.5rem 0rem 0.5rem 1rem;
      display: flex;
      align-items: center;
      margin: 0px;
    }

    .input-group__right {
      padding: 0.5rem;
      display: flex;
      align-items: center;
      margin: 0px;
    }
  }

  .btn {
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 14px;
  }

  .btn-lg {
    padding: 0.7rem 2rem;
    line-height: 1.5;
    font-size: 16px;
  }

  .btn-sm {
    padding: 5px 25px;
    line-height: 1.5;
  }

  .btn-xs {
    padding: 5px 15px;
    line-height: 1.5;
    font-size: 14px;
  }

  .btn-green {
    background: #41D6C3;
    border-width: 1px;
    border-style: solid;
    border-color: #41D6C3;
    color: #FFFFFF;

    &:hover,
    &:active,
    &:focus {
      background: #3abfae;
      color: #FFFFFF;
      border-color: #3abfae;
    }
  }

  .btn-light-blue {
    background: #E8EEF4;
    border-width: 1px;
    border-style: solid;
    border-color: #E8EEF4;
    color: #FFFFFF;

    &:hover,
    &:active,
    &:focus {
      background: #d0d7de;
      color: #FFFFFF;
      border-color: #d0d7de;
    }
  }

  .btn-green--border {
    background: transparent;
    color: #41D6C3;

    &:hover,
    &:active,
    &:focus {
      background: #41D6C3;
      border-color: #41D6C3;
      color: #FFFFFF;
    }
  }

  .btn-white--border {
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;

    &:hover,
    &:active,
    &:focus {
      background: #FFFFFF;
      border-color: #FFFFFF;
      color: #42A1EC;
    }
  }

  .btn-transparent {

    &:hover,
    &:focus,
    &:active {
      background-color: rgba(0, 0, 0, 0.06);
    }
  }

  .badge {
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    padding: 5px 10px;
    vertical-align: middle;
    border-radius: 4px;

    &.badge-blue {
      color: #ffffff;
      background: #9ccef6;
    }

    &.badge-yellow {
      color: #ffffff;
      background: #ffcd00;
    }

    &.badge-red {
      color: #ffffff;
      background: #ee5454;
    }
  }

  .mobile {
    position: relative;
  }

  .search-suggestion {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    border-radius: 5px;
    z-index: 1;
    color: #404852;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-y: scroll;

    .search-suggestion__item {
      display: block;
      cursor: pointer;
      transition: .3s all ease;
      background: #ffffff;

      a {
        padding: 10px 15px;
        display: flex;
        align-items: center;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }

        .search-suggestion-image {
          margin-right: 10px;
        }
      }

      &:hover {
        background: #E8EEF4;
      }

      &.search-suggestion__item--label {
        pointer-events: none;
        background-color: #edf5fd;
        padding: 5px 15px;
        font-size: 12px;
      }
    }

    .search-suggestion__header {
      padding: 5px 15px;
      font-size: 12px;
    }
  }

  .form-control-lg {
    font-size: 16px !important;
  }

  .form-control {
    font-size: 14px;
  }

  .sidebar {
    .sidebar-logo {
      line-height: 1;
      padding: 15px;

      img {
        max-height: 15px;
      }
    }

    z-index: 1050;
    display: block;
    align-items: unset;

    &.fade.in .modal-content {
      transform: translateX(0%);
    }

    .modal-dialog {
      display: flex;
      margin: 0px;
      transform: translateY(0%) !important;
    }

    .modal-content {
      border-radius: 0px;
      flex-shrink: 1;
      width: 85%;
      max-width: 300px;
      transform: translateX(-100%);
      transition: .3s all ease;
    }

    .modal-header {
      width: auto;
      left: 100%;

      .close {
        margin: 0;
        color: #ffffff;
        opacity: 1;

        &:hover {
          opacity: .5;
          color: #ffffff;
        }
      }
    }

    .modal-body {
      padding: 0px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    }

    .sidebar-item {
      .btn {
        width: 100%;
        text-align: left;
        padding: 15px;
        border-radius: 0px;

        &:hover,
        &:focus,
        &:active {
          box-shadow: none;
          outline: none;
        }
      }

      .dropdown {
        width: 100%;
        flex-wrap: wrap;

        .dropdown-toggle {
          display: flex;
          justify-content: space-between;
        }

        .dropdown-menu {
          box-shadow: none;
          margin: 0px;
          width: 100%;
          position: relative;

          li a {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }

  .navbar {
    padding: 0px;
    background-color: transparent;
    color: #303030;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    .navbar-logo__img {
      max-height: 25px;
      transition: .3s all ease;
    }
  }

  .navbar {
    .container {
      display: block;

      .row {
        min-width: 100%;
      }
    }

    .sidebar-button {
      display: block;
    }
  }

  .sidebar-button .btn {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1;
  }

  .carousel-nav {
    margin-top: 20px;
  }

  .carousel-button {
    display: inline-block;
    vertical-align: middle;

    img {
      max-width: 40px;
    }

    .btn {
      transition: .3s all ease;

      &:hover {
        opacity: .5;
      }
    }

    .disabled {
      filter: contrast(5%) brightness(150%);
    }
  }

  .footer {
    font-size: 100%;
  }
}

/* Button */

/* Badges */

/* Search Suggestion */

/* Overrides */

/* Sidebar */

/* Navbar */

/* Carousel */

/* Footer */

.footer .link-list {
  margin-bottom: 0px;
  letter-spacing: .5px;
}

.mobile {
  .footer .link-list {
    .link-list__item {
      margin-bottom: 15px;
    }

    .link-list__header {
      font-weight: 400;
      font-size: 1rem;
    }
  }

  .carousel-button .disabled {
    filter: contrast(5%) brightness(150%);
  }

  .footer-newsletter-card {
    background: #E8EEF4;
    text-align: center;

    .footer-newsletter-card__item {
      margin-bottom: 20px;
    }
  }

  .footer-newsletter-form {
    display: block;

    input {
      border: none;
    }

    .footer-newsletter-form__item {
      display: block;
      padding-top: 15px;
    }
  }

  .footer-social {
    margin: -3px;

    a {
      padding: 3px 5px;
      margin: 3px;
      display: inline-block;
      transition: .3s all ease;

      &:hover {
        opacity: .7;
      }
    }
  }

  .custom-card-scroll {
    position: relative;
    overflow: auto;
    height: 100%;

    .custom-card-scroll__body {
      flex-wrap: nowrap;
      margin: 0px -7.5px;
      overflow-x: visible;
    }
  }

  .custom-card-group {
    margin: 0px -7.5px;

    .custom-card-wrapper {
      padding-right: 7.5px;
      padding-left: 7.5px;
      margin-top: 7.5px;
      margin-bottom: 7.5px;

      &.testimonial {
        padding-top: 40px;

        .card-body {
          padding: 20px;
          line-height: 1.5;
        }
      }
    }

    .card {
      height: 100%;
      border: none;
      border-radius: 4px;

      &.card-border {
        border: thin solid #EAEAEA;

        .card-image {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          overflow: hidden;
        }
      }
    }

    .card-body {
      padding: 15px;
      display: flex;
    }

    .card-image {
      padding: 0px 15px;
      margin-bottom: 15px;
      flex-grow: 0;

      &.testimonial-image {
        margin-top: -40px;
        justify-content: center;

        .img-thumbnail {
          height: 80px;
          width: 80px;
        }
      }
    }

    .card-badge {
      padding: 0px 15px;
      flex-grow: 0;
    }

    .card-row {
      margin-left: -7.5px;
      margin-right: -7.5px;
      line-height: 1.2;
    }

    .card-column {
      padding-left: 7.5px;
      padding-right: 7.5px;
      display: flex;
      flex-direction: column;

      .card-column__header {
        flex: 1 1 auto;
      }
    }

    .card-title {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 10px;
      display: block;
    }

    .card-subtitle {
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 5px;
      margin-top: 0px;
    }
  }

  .custom-card-scroll.scrollx-on-md .custom-card-scroll__body {
    position: absolute;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    margin: -7.5px 0px;
  }

  .link-list {
    padding-left: 0px;
    list-style: none;

    .link-list__header {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 15px;
    }

    .link-list__item {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .collapse-item {

    .collapse-item__button,
    .collapse-item__content {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .collapse-item__button {
      .collapse-arrow {
        transition: .3s all ease;
      }

      &.open .collapse-arrow {
        transform: rotate(180deg);
      }
    }
  }

  .collapse.in {
    display: block;
  }
}

/* Card */

/* Collapse Item */

/* Layout */

.home-header-wrapper {
  background-image: url('../images/home-bg.png');
  background-size: cover;
  background-position: top left;
}

.mobile {
  .home-header {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: transparent;
    color: #FFFFFF;
    position: relative;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 85% 0%;
    background-size: contain;
  }

  .home-header__title {
    z-index: 1;
    position: relative;
    margin-bottom: 20px;

    h3 {
      font-size: 26px;
    }
  }

  .main-search {
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }

    .form-control {
      margin-top: 5px;
      margin-bottom: 5px;
      border: none;
    }

    .btn {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .row>* {
      padding-left: 10px;
      padding-right: 10px;
    }

    .main-search__suggestion {
      margin-left: -10px;
      margin-right: -10px;
      margin-top: 20px;
    }
  }

  .specialty-suggestion {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    transition: .3s all ease;
  }

  a.specialty-suggestion:hover {
    text-decoration: none;
    opacity: .7;
  }

  .specialty-suggestion {
    display: inline-flex;
    align-items: center;
  }

  .home-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .home-banner {
    margin-top: -15px;
    margin-bottom: -15px;

    .home-banner__item {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .home-featured {
    background: #FBFBFB;
    padding-top: 50px;
    padding-bottom: 50px;

    .home-featured__map {
      padding: 0px;
    }

    .home-featured__title {
      margin-right: -5px;
      margin-left: -5px;
      margin-bottom: 20px;
    }
  }

  .home-featured__title {
    .home-featured__title-item {
      display: block;
      vertical-align: middle;
      padding: 10px 5px;
    }

    .home-featured__title-item--sub {
      font-size: 1rem;
      display: block;
    }

    .home-featured__title-item .ion-md-navigate {
      transform: rotate(40deg);
      margin-right: 5px;
    }
  }

  .home-top-clinic,
  .home-top-blog {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .home-top-doctor,
  .home-other {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #FBFBFB;
  }

  .home-top-blog {
    .img-thumbnail.img-thumbnail--full {
      height: 200px;
    }

    .custom-card-wrapper {
      .card-title {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .card-subtitle {
        margin-bottom: 10px;
      }
    }
  }

  .home-other .home-other__link {
    >* {
      display: inline;
    }

    .link-list__header {
      display: none;
    }

    .link-list__item {
      &:after {
        content: ',';
        color: #9ccef6;
      }

      &:last-child:after {
        content: none;
      }
    }
  }

  .specialty-label-wrapper {
    text-align: left;
    margin: -10px;
  }

  .specialty-label {
    background: #c1daed;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px;
    transition: .5s all ease;
    flex-grow: 1;
    font-size: 12px;
    display: inline-block;
    margin: 10px;
    color: #338FD8;

    &:hover {
      text-decoration: none;
      background: #aac7dc;
    }
  }

  .country-list {
    text-align: center;

    .country-list__item {
      padding: 15px 30px;
      display: inline-flex;
      align-items: center;
      border-radius: 0px;
      font-weight: 300;
    }
  }

  .featured-company-wrapper {
    margin: -15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .featured-company {
    padding: 15px;
    display: inline-block;
  }

  .popular-modal {
    align-items: flex-start;

    .modal-content {
      border-radius: 0px;
    }

    .modal-dialog {
      margin: 0px;
      width: 100%;
    }

    .modal-header {
      position: relative;
      padding: 20px;
      display: block;
      text-align: center;

      .close {
        position: absolute;
        right: 0px;
        top: 0px;
      }
    }

    .modal-body {
      padding: 0px;
    }

    .link-list {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 0px;

      .link-list__header {
        padding: 10px 15px;
        font-size: 12px;
        color: #7D7979;
        margin-bottom: 0px;
        line-height: 1;
      }

      .link-list__item {
        margin-bottom: 0px;
        line-height: 1;

        a {
          padding: 10px 15px;
          display: block;
          font-size: 14px;
          text-decoration: none;

          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
            background-color: #F1F1F1;
          }
        }

        &:last-child {
          padding-bottom: 0px;
        }
      }
    }
  }
}

/* Specialty Label */

/* Country List */

/* Featured Company */

/* Popular Modal */

/* Full Page Search */

.full-page-search {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1000;
  color: #000;
}

.full-page-search__result {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.full-page-search {
  .full-page-search__nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 10px 25px 10px 5px;
    background-color: #42A1EC;

    .close.btn {
      padding: 8px 15px;
    }

    .form-group {
      flex-grow: 1;
      margin-bottom: 0;
      border-radius: 3px;

      .input-group-addon {
        background: #FFFFFF;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        display: flex;
        align-items: center;

        .clear {
          font-size: 24px;
          font-weight: 100;
          padding: 5px 8px;
          line-height: 1;
          color: #7D7979;
          background: transparent;
          border: none;
          transition: .3s all ease;
          cursor: pointer;

          &:hover,
          &:focus,
          &:active {
            opacity: .5;
            box-shadow: none;
            outline: none;
          }
        }
      }

      input {
        border: none;
        font-size: 14px;
      }
    }
  }

  .search-result {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: #f7f7f7;

    .nav.nav-tabs {
      display: flex;
      flex-wrap: nowrap;
      overflow: scroll;
      position: relative;
      background: #ffffff;

      li {
        position: relative;
        cursor: pointer;

        &.active {
          &:after {
            content: '';
            height: 3px;
            width: 100%;
            background-color: #42A1EC;
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
          }

          a {
            color: #42A1EC;
            pointer-events: none;
          }
        }
      }

      >li>a {
        padding: 15px 30px;
        display: block;
        line-height: 1;
        text-decoration: none;
        transition: .3s all ease;

        &:hover,
        &:focus,
        &:active {
          background-color: #FAFAFA;
        }
      }
    }

    .tab-content {
      overflow: auto;
      display: flex;
      flex: 1;
      flex-basis: 100%;

      .tab-pane {
        flex-direction: column;
        flex-shrink: 1;
        flex-basis: 100%;

        &.active {
          display: flex;
        }
      }
    }
  }

  .current-location {
    display: block;
    cursor: pointer;
    transition: .3s all ease;
    background: #ffffff;
    padding: 10px 15px;
    align-items: center;
    text-decoration: none;

    .current-location__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      background: #E8EEF4;
    }
  }
}

.circle-number {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #42A1EC;
  border-radius: 50%;
  line-height: 25px;
  color: #FFFFFF;
  font-size: 16px;
}

.explain-sect_title {
  color: #42A1EC;
  font-size: 18px;
}

@keyframes explain {
  0% {
    left: -0%;
  }

  20% {
    left: -0%;
  }

  35% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  55% {
    left: -200%;
  }

  65% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  85% {
    left: -300%;
  }

  100% {
    left: -0%;
  }
}


@keyframes secondint {
  0% {
    left: 0%;
  }

  2% {
    left: -100%;
  }

  38% {
    left: -100%;
  }

  40% {
    left: -200%;
  }

  73% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  98% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}


@keyframes explain-rtl {
  0% {
    right: -100%;
  }

  20% {
    right: -100%;
  }

  30% {
    right: -200%;
  }

  40% {
    right: -200%;
  }

  50% {
    right: -300%;
  }

  60% {
    right: -300%;
  }

  70% {
    right: -400%;
  }

  80% {
    right: -400%;
  }

  90% {
    right: -100%;
  }

  100% {
    right: -100%;
  }
}


@keyframes secondint-rtl {
  0% {
    right: 0%;
  }

  2% {
    right: -100%;
  }

  38% {
    right: -100%;
  }

  40% {
    right: -200%;
  }

  73% {
    right: -200%;
  }

  75% {
    right: -300%;
  }

  98% {
    right: -300%;
  }

  100% {
    right: -400%;
  }
}


figure {
  margin: 0;
}

div {

  &.explain-sect-slider,
  &.secondint-sect-slider {
    width: 100%;
    overflow: hidden;
  }
}

figure.slider {
  position: relative;
  width: 500%;
  animation: 20s explain infinite;

  figure {
    width: 20%;
    min-height: 80px;
    vertical-align: middle;
    display: inline-block;
    position: inherit;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .mobile .container {
    max-width: 1230px;
  }
}

.label-required {
  &::after {
    content: "*";
    color: #C94656;
  }
}

.input-group-icon {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.25rem;
}

.b-addon {
  position: relative;
}

.b-addon__icon {
  position: absolute;
  padding: 0.275rem 0.75rem;
  pointer-events: none;
}

.addon--left {
  .b-addon__icon {
    left: 0px;
  }

  .b-addon__input {
    padding-left: 30px;
  }
}

.addon--right {
  .b-addon__icon {
    right: 0px;
  }

  .b-addon__input {
    padding-right: 30px;
  }
}

.btn-info {
  color: #ffffff;
}

.btn-link {
  color: #7D7979;
}

.mobile {
  .wrapper {
    margin-top: 25px;
  }

  .b-search {
    padding: 1rem;
    background-color: #ffffff;
  }

  .content {
    background-color: #ffffff;
  }

  .b-navbar {
    min-height: 55px;
    padding: 1rem;
  }

  .b-navbar--blue {
    background-color: #42A1EC;
  }

  .b-nav {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, .1);
  }

  .b-navbar__icon {
    position: absolute;
  }

  .b-navbar__center {
    font-size: 18px;
    float: none;
    margin: 0 auto !important;
    color: #ffffff;
  }

  .b-card__icon {
    margin: 20px 0 30px 0;
  }

  .b-card__text {
    text-align: center;
    margin-bottom: 30px;
  }

  .b-card__subtext {
    @extend .b-card__text;
    margin-top: 15px;
    text-align: center;
    color: #7d7979;
  }

  .text--small {
    font-size: 14px;
  }

  .b-card {
    min-height: 100vh;
    border-radius: 0;
    border: none;
  }

  .b-card__header {
    text-align: center;
    background-color: #ffffff;
    border-radius: 0;
  }

  .b-card__body {
    padding: 1rem;
  }

  .b-card__group {
    margin-bottom: 30px;

    &:first-child {
      margin-top: 14px;
    }
  }

  .b-filter {
    .b-filter__item {
      padding: 1rem 1rem 1rem 0;

      .b-filter__options {
        font-size: 14px;
        color: #6c757d;
      }
    }
  }

  .bg-default {
    background-color: #42A1EC;
  }
}

