body.mobile {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #303030;
  font-size: 14px;
  position: relative;
  background: #f7f7f7;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

::-webkit-scrollbar {
  display: none; }

.mobile p {
  margin-bottom: .3rem; }

/* Modal */
.modal {
  display: flex !important;
  align-items: center;
  transition: .3s all ease; }
  .modal .modal-dialog {
    width: 500px;
    max-width: 100%; }
  .modal .modal-content {
    border: none; }
  .modal.fade.in {
    opacity: 1 !important;
    visibility: visible; }

.modal-backdrop.in {
  opacity: 0.3 !important;
  visibility: visible; }

.modal.fade.in .modal-dialog {
  -webkit-transform: translate(0, 0%);
  transform: translate(0, 0%); }

.modal .modal-header {
  position: absolute;
  width: 100%;
  z-index: 1;
  border-bottom: 0px;
  top: 0;
  left: 0;
  padding: 0px; }
  .modal .modal-header .close {
    margin: 0 0 0 auto;
    padding: 5px 15px;
    font-weight: 100;
    font-size: 40px;
    line-height: 1;
    transition: .3s all ease; }
    .modal .modal-header .close:hover, .modal .modal-header .close:active, .modal .modal-header .close:focus {
      box-shadow: none;
      outline: none; }

.modal .modal-body {
  padding: 30px; }

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: #7D7979 !important;
  font-weight: 300; }

.mobile ul.ul-clean {
  list-style: none;
  padding-left: 0px; }

.mobile ul.ul-green {
  list-style: none;
  padding-left: 35px; }
  .mobile ul.ul-green li:before {
    color: #41D6C3;
    content: "\2022";
    font-size: 20px;
    line-height: 1;
    vertical-align: middle;
    font-weight: bold;
    display: inline-block;
    width: 2em;
    margin-left: -2em; }

.mobile body a {
  text-decoration: none;
  color: #303030; }
  .mobile body a:hover, .mobile body a:active, .mobile body a:focus {
    color: #303030; }

.mobile a.btn:hover, .mobile a.btn:active, .mobile a.btn:focus {
  text-decoration: none; }

.mobile a.badge:hover, .mobile a.badge:active, .mobile a.badge:focus {
  text-decoration: none; }

.mobile a.link-clean:hover, .mobile a.link-clean:active, .mobile a.link-clean:focus {
  text-decoration: none; }

.mobile .font-big {
  font-size: 1.25rem; }

.mobile .text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis; }

.mobile .text-normal {
  font-weight: 300; }

.mobile .text-semibold {
  font-weight: 400; }

.mobile .text-bold {
  font-weight: 500; }

.mobile .text-gray {
  color: #7D7979; }

.mobile .text-red {
  color: #C94656; }

.mobile .text-blue {
  color: #42A1EC; }

.mobile .text-dark-blue {
  color: #195178; }

.mobile .text-same-line {
  display: inline-flex; }

.mobile .img-white {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1); }

.mobile .img-thumbnail {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
  padding: 0px;
  border: none; }

.mobile .gravatar {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: rgba(223, 240, 252, 0.5); }

.mobile .img-thumbnail .img-thumbnail__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.mobile .img-thumbnail.img-thumbnail--big {
  width: 100px;
  height: 100px; }

.mobile .img-thumbnail.img-thumbnail--small {
  width: 40px;
  height: 40px; }

.mobile .img-thumbnail.img-thumbnail--full {
  width: 100%;
  border-radius: 0;
  height: 180px; }

.mobile .header-title {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2; }

.mobile .home-spacer {
  margin: 0px; }
  .mobile .home-spacer.home-spacer--white {
    border-color: #ffffff;
    opacity: .5; }

.mobile .img-responsive {
  max-width: 100%; }

.mobile .bg-green {
  background: #275771; }

.mobile .bg-blue {
  background: #E8EEF4; }

.mobile .bg-dark-blue {
  background: #C2D9F4; }

.mobile .link-white {
  color: #FFFFFF; }
  .mobile .link-white:hover, .mobile .link-white:focus, .mobile .link-white:active {
    color: #FAFAFA;
    text-decoration: underline; }

.mobile .link-green {
  color: #41D6C3; }
  .mobile .link-green:hover, .mobile .link-green:focus, .mobile .link-green:active {
    color: #41D6C3;
    text-decoration: underline; }

.mobile .link-blue {
  color: #42A1EC; }
  .mobile .link-blue:hover, .mobile .link-blue:focus, .mobile .link-blue:active {
    color: #42A1EC;
    text-decoration: underline; }

.mobile .blue-line {
  height: 4px;
  background: #41A1EC;
  width: 45px;
  display: inline-block;
  vertical-align: middle; }

.mobile .input-group.input-group--addons {
  border-radius: 4px;
  background: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px; }
  .mobile .input-group.input-group--addons img {
    max-height: 25px;
    max-width: 25px; }
  .mobile .input-group.input-group--addons input {
    margin: 0px; }
  .mobile .input-group.input-group--addons .input-group__left {
    padding: 0.5rem 0rem 0.5rem 1rem;
    display: flex;
    align-items: center;
    margin: 0px; }
  .mobile .input-group.input-group--addons .input-group__right {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    margin: 0px; }

.mobile .btn {
  padding: 8px 15px;
  border-radius: 3px;
  font-size: 14px; }

.mobile .btn-lg {
  padding: 0.7rem 2rem;
  line-height: 1.5;
  font-size: 16px; }

.mobile .btn-sm {
  padding: 5px 25px;
  line-height: 1.5; }

.mobile .btn-xs {
  padding: 5px 15px;
  line-height: 1.5;
  font-size: 14px; }

.mobile .btn-green {
  background: #41D6C3;
  border-width: 1px;
  border-style: solid;
  border-color: #41D6C3;
  color: #FFFFFF; }
  .mobile .btn-green:hover, .mobile .btn-green:active, .mobile .btn-green:focus {
    background: #3abfae;
    color: #FFFFFF;
    border-color: #3abfae; }

.mobile .btn-light-blue {
  background: #E8EEF4;
  border-width: 1px;
  border-style: solid;
  border-color: #E8EEF4;
  color: #FFFFFF; }
  .mobile .btn-light-blue:hover, .mobile .btn-light-blue:active, .mobile .btn-light-blue:focus {
    background: #d0d7de;
    color: #FFFFFF;
    border-color: #d0d7de; }

.mobile .btn-green--border {
  background: transparent;
  color: #41D6C3; }
  .mobile .btn-green--border:hover, .mobile .btn-green--border:active, .mobile .btn-green--border:focus {
    background: #41D6C3;
    border-color: #41D6C3;
    color: #FFFFFF; }

.mobile .btn-white--border {
  background: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF; }
  .mobile .btn-white--border:hover, .mobile .btn-white--border:active, .mobile .btn-white--border:focus {
    background: #FFFFFF;
    border-color: #FFFFFF;
    color: #42A1EC; }

.mobile .btn-transparent:hover, .mobile .btn-transparent:focus, .mobile .btn-transparent:active {
  background-color: rgba(0, 0, 0, 0.06); }

.mobile .badge {
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px 10px;
  vertical-align: middle;
  border-radius: 4px; }
  .mobile .badge.badge-blue {
    color: #ffffff;
    background: #9ccef6; }
  .mobile .badge.badge-yellow {
    color: #ffffff;
    background: #ffcd00; }
  .mobile .badge.badge-red {
    color: #ffffff;
    background: #ee5454; }

.mobile .mobile {
  position: relative; }

.mobile .search-suggestion {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border-radius: 5px;
  z-index: 1;
  color: #404852;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-y: scroll; }
  .mobile .search-suggestion .search-suggestion__item {
    display: block;
    cursor: pointer;
    transition: .3s all ease;
    background: #ffffff; }
    .mobile .search-suggestion .search-suggestion__item a {
      padding: 10px 15px;
      display: flex;
      align-items: center;
      text-decoration: none; }
      .mobile .search-suggestion .search-suggestion__item a:hover, .mobile .search-suggestion .search-suggestion__item a:active, .mobile .search-suggestion .search-suggestion__item a:focus {
        text-decoration: none; }
      .mobile .search-suggestion .search-suggestion__item a .search-suggestion-image {
        margin-right: 10px; }
    .mobile .search-suggestion .search-suggestion__item:hover {
      background: #E8EEF4; }
    .mobile .search-suggestion .search-suggestion__item.search-suggestion__item--label {
      pointer-events: none;
      background-color: #edf5fd;
      padding: 5px 15px;
      font-size: 12px; }
  .mobile .search-suggestion .search-suggestion__header {
    padding: 5px 15px;
    font-size: 12px; }

.mobile .form-control-lg {
  font-size: 16px !important; }

.mobile .form-control {
  font-size: 14px; }

.mobile .sidebar {
  z-index: 1050;
  display: block;
  align-items: unset; }
  .mobile .sidebar .sidebar-logo {
    line-height: 1;
    padding: 15px; }
    .mobile .sidebar .sidebar-logo img {
      max-height: 15px; }
  .mobile .sidebar.fade.in .modal-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  .mobile .sidebar .modal-dialog {
    display: flex;
    margin: 0px;
    -webkit-transform: translateY(0%) !important;
    transform: translateY(0%) !important; }
  .mobile .sidebar .modal-content {
    border-radius: 0px;
    flex-shrink: 1;
    width: 85%;
    max-width: 300px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: .3s all ease; }
  .mobile .sidebar .modal-header {
    width: auto;
    left: 100%; }
    .mobile .sidebar .modal-header .close {
      margin: 0;
      color: #ffffff;
      opacity: 1; }
      .mobile .sidebar .modal-header .close:hover {
        opacity: .5;
        color: #ffffff; }
  .mobile .sidebar .modal-body {
    padding: 0px;
    overflow-y: auto;
    display: flex;
    flex-direction: column; }
  .mobile .sidebar .sidebar-item .btn {
    width: 100%;
    text-align: left;
    padding: 15px;
    border-radius: 0px; }
    .mobile .sidebar .sidebar-item .btn:hover, .mobile .sidebar .sidebar-item .btn:focus, .mobile .sidebar .sidebar-item .btn:active {
      box-shadow: none;
      outline: none; }
  .mobile .sidebar .sidebar-item .dropdown {
    width: 100%;
    flex-wrap: wrap; }
    .mobile .sidebar .sidebar-item .dropdown .dropdown-toggle {
      display: flex;
      justify-content: space-between; }
    .mobile .sidebar .sidebar-item .dropdown .dropdown-menu {
      box-shadow: none;
      margin: 0px;
      width: 100%;
      position: relative; }
      .mobile .sidebar .sidebar-item .dropdown .dropdown-menu li a {
        display: flex;
        justify-content: space-between; }

.mobile .navbar {
  padding: 0px;
  background-color: transparent;
  color: #303030; }

.mobile .navbar-menu {
  display: none; }

.mobile .navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center; }
  .mobile .navbar-logo .navbar-logo__img {
    max-height: 25px;
    transition: .3s all ease; }

.mobile .navbar .container {
  display: block; }
  .mobile .navbar .container .row {
    min-width: 100%; }

.mobile .navbar .sidebar-button {
  display: block; }

.mobile .sidebar-button .btn {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1; }

.mobile .carousel-nav {
  margin-top: 20px; }

.mobile .carousel-button {
  display: inline-block;
  vertical-align: middle; }
  .mobile .carousel-button img {
    max-width: 40px; }
  .mobile .carousel-button .btn {
    transition: .3s all ease; }
    .mobile .carousel-button .btn:hover {
      opacity: .5; }
  .mobile .carousel-button .disabled {
    -webkit-filter: contrast(5%) brightness(150%);
    filter: contrast(5%) brightness(150%); }

.mobile .footer {
  font-size: 100%; }

/* Button */
/* Badges */
/* Search Suggestion */
/* Overrides */
/* Sidebar */
/* Navbar */
/* Carousel */
/* Footer */
.footer .link-list {
  margin-bottom: 0px;
  letter-spacing: .5px; }

.mobile .footer .link-list .link-list__item {
  margin-bottom: 15px; }

.mobile .footer .link-list .link-list__header {
  font-weight: 400;
  font-size: 1rem; }

.mobile .carousel-button .disabled {
  -webkit-filter: contrast(5%) brightness(150%);
  filter: contrast(5%) brightness(150%); }

.mobile .footer-newsletter-card {
  background: #E8EEF4;
  text-align: center; }
  .mobile .footer-newsletter-card .footer-newsletter-card__item {
    margin-bottom: 20px; }

.mobile .footer-newsletter-form {
  display: block; }
  .mobile .footer-newsletter-form input {
    border: none; }
  .mobile .footer-newsletter-form .footer-newsletter-form__item {
    display: block;
    padding-top: 15px; }

.mobile .footer-social {
  margin: -3px; }
  .mobile .footer-social a {
    padding: 3px 5px;
    margin: 3px;
    display: inline-block;
    transition: .3s all ease; }
    .mobile .footer-social a:hover {
      opacity: .7; }

.mobile .custom-card-scroll {
  position: relative;
  overflow: auto;
  height: 100%; }
  .mobile .custom-card-scroll .custom-card-scroll__body {
    flex-wrap: nowrap;
    margin: 0px -7.5px;
    overflow-x: visible; }

.mobile .custom-card-group {
  margin: 0px -7.5px; }
  .mobile .custom-card-group .custom-card-wrapper {
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-top: 7.5px;
    margin-bottom: 7.5px; }
    .mobile .custom-card-group .custom-card-wrapper.testimonial {
      padding-top: 40px; }
      .mobile .custom-card-group .custom-card-wrapper.testimonial .card-body {
        padding: 20px;
        line-height: 1.5; }
  .mobile .custom-card-group .card {
    height: 100%;
    border: none;
    border-radius: 4px; }
    .mobile .custom-card-group .card.card-border {
      border: thin solid #EAEAEA; }
      .mobile .custom-card-group .card.card-border .card-image {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        overflow: hidden; }
  .mobile .custom-card-group .card-body {
    padding: 15px;
    display: flex; }
  .mobile .custom-card-group .card-image {
    padding: 0px 15px;
    margin-bottom: 15px;
    flex-grow: 0; }
    .mobile .custom-card-group .card-image.testimonial-image {
      margin-top: -40px;
      justify-content: center; }
      .mobile .custom-card-group .card-image.testimonial-image .img-thumbnail {
        height: 80px;
        width: 80px; }
  .mobile .custom-card-group .card-badge {
    padding: 0px 15px;
    flex-grow: 0; }
  .mobile .custom-card-group .card-row {
    margin-left: -7.5px;
    margin-right: -7.5px;
    line-height: 1.2; }
  .mobile .custom-card-group .card-column {
    padding-left: 7.5px;
    padding-right: 7.5px;
    display: flex;
    flex-direction: column; }
    .mobile .custom-card-group .card-column .card-column__header {
      flex: 1 1 auto; }
  .mobile .custom-card-group .card-title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    display: block; }
  .mobile .custom-card-group .card-subtitle {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 0px; }

.mobile .custom-card-scroll.scrollx-on-md .custom-card-scroll__body {
  position: absolute;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  margin: -7.5px 0px; }

.mobile .link-list {
  padding-left: 0px;
  list-style: none; }
  .mobile .link-list .link-list__header {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 15px; }
  .mobile .link-list .link-list__item {
    margin-bottom: 5px; }
    .mobile .link-list .link-list__item:last-child {
      margin-bottom: 0px; }

.mobile .collapse-item .collapse-item__button,
.mobile .collapse-item .collapse-item__content {
  padding-top: 15px;
  padding-bottom: 15px; }

.mobile .collapse-item .collapse-item__button .collapse-arrow {
  transition: .3s all ease; }

.mobile .collapse-item .collapse-item__button.open .collapse-arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.mobile .collapse.in {
  display: block; }

/* Card */
/* Collapse Item */
/* Layout */
.home-header-wrapper {
  background-image: url("../images/home-bg.png");
  background-size: cover;
  background-position: top left; }

.mobile .home-header {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: transparent;
  color: #FFFFFF;
  position: relative;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 85% 0%;
  background-size: contain; }

.mobile .home-header__title {
  z-index: 1;
  position: relative;
  margin-bottom: 20px; }
  .mobile .home-header__title h3 {
    font-size: 26px; }

.mobile .main-search .row {
  margin-left: -10px;
  margin-right: -10px; }

.mobile .main-search .form-control {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none; }

.mobile .main-search .btn {
  margin-top: 5px;
  margin-bottom: 5px; }

.mobile .main-search .row > * {
  padding-left: 10px;
  padding-right: 10px; }

.mobile .main-search .main-search__suggestion {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 20px; }

.mobile .specialty-suggestion {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  transition: .3s all ease; }

.mobile a.specialty-suggestion:hover {
  text-decoration: none;
  opacity: .7; }

.mobile .specialty-suggestion {
  display: inline-flex;
  align-items: center; }

.mobile .home-section {
  padding-top: 30px;
  padding-bottom: 30px; }

.mobile .home-banner {
  margin-top: -15px;
  margin-bottom: -15px; }
  .mobile .home-banner .home-banner__item {
    padding-top: 15px;
    padding-bottom: 15px; }

.mobile .home-featured {
  background: #FBFBFB;
  padding-top: 50px;
  padding-bottom: 50px; }
  .mobile .home-featured .home-featured__map {
    padding: 0px; }
  .mobile .home-featured .home-featured__title {
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 20px; }

.mobile .home-featured__title .home-featured__title-item {
  display: block;
  vertical-align: middle;
  padding: 10px 5px; }

.mobile .home-featured__title .home-featured__title-item--sub {
  font-size: 1rem;
  display: block; }

.mobile .home-featured__title .home-featured__title-item .ion-md-navigate {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  margin-right: 5px; }

.mobile .home-top-clinic,
.mobile .home-top-blog {
  padding-top: 50px;
  padding-bottom: 50px; }

.mobile .home-top-doctor,
.mobile .home-other {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #FBFBFB; }

.mobile .home-top-blog .img-thumbnail.img-thumbnail--full {
  height: 200px; }

.mobile .home-top-blog .custom-card-wrapper .card-title {
  font-size: 18px;
  margin-bottom: 10px; }

.mobile .home-top-blog .custom-card-wrapper .card-subtitle {
  margin-bottom: 10px; }

.mobile .home-other .home-other__link > * {
  display: inline; }

.mobile .home-other .home-other__link .link-list__header {
  display: none; }

.mobile .home-other .home-other__link .link-list__item:after {
  content: ',';
  color: #9ccef6; }

.mobile .home-other .home-other__link .link-list__item:last-child:after {
  content: none; }

.mobile .specialty-label-wrapper {
  text-align: left;
  margin: -10px; }

.mobile .specialty-label {
  background: #c1daed;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 10px 20px;
  transition: .5s all ease;
  flex-grow: 1;
  font-size: 12px;
  display: inline-block;
  margin: 10px;
  color: #338FD8; }
  .mobile .specialty-label:hover {
    text-decoration: none;
    background: #aac7dc; }

.mobile .country-list {
  text-align: center; }
  .mobile .country-list .country-list__item {
    padding: 15px 30px;
    display: inline-flex;
    align-items: center;
    border-radius: 0px;
    font-weight: 300; }

.mobile .featured-company-wrapper {
  margin: -15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.mobile .featured-company {
  padding: 15px;
  display: inline-block; }

.mobile .popular-modal {
  align-items: flex-start; }
  .mobile .popular-modal .modal-content {
    border-radius: 0px; }
  .mobile .popular-modal .modal-dialog {
    margin: 0px;
    width: 100%; }
  .mobile .popular-modal .modal-header {
    position: relative;
    padding: 20px;
    display: block;
    text-align: center; }
    .mobile .popular-modal .modal-header .close {
      position: absolute;
      right: 0px;
      top: 0px; }
  .mobile .popular-modal .modal-body {
    padding: 0px; }
  .mobile .popular-modal .link-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px; }
    .mobile .popular-modal .link-list .link-list__header {
      padding: 10px 15px;
      font-size: 12px;
      color: #7D7979;
      margin-bottom: 0px;
      line-height: 1; }
    .mobile .popular-modal .link-list .link-list__item {
      margin-bottom: 0px;
      line-height: 1; }
      .mobile .popular-modal .link-list .link-list__item a {
        padding: 10px 15px;
        display: block;
        font-size: 14px;
        text-decoration: none; }
        .mobile .popular-modal .link-list .link-list__item a:hover, .mobile .popular-modal .link-list .link-list__item a:active, .mobile .popular-modal .link-list .link-list__item a:focus {
          text-decoration: none;
          background-color: #F1F1F1; }
      .mobile .popular-modal .link-list .link-list__item:last-child {
        padding-bottom: 0px; }

/* Specialty Label */
/* Country List */
/* Featured Company */
/* Popular Modal */
/* Full Page Search */
.full-page-search {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1000;
  color: #000; }

.full-page-search__result {
  height: 100%;
  display: flex;
  flex-direction: column; }

.full-page-search .full-page-search__nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 10px 25px 10px 5px;
  background-color: #42A1EC; }
  .full-page-search .full-page-search__nav .close.btn {
    padding: 8px 15px; }
  .full-page-search .full-page-search__nav .form-group {
    flex-grow: 1;
    margin-bottom: 0;
    border-radius: 3px; }
    .full-page-search .full-page-search__nav .form-group .input-group-addon {
      background: #FFFFFF;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      display: flex;
      align-items: center; }
      .full-page-search .full-page-search__nav .form-group .input-group-addon .clear {
        font-size: 24px;
        font-weight: 100;
        padding: 5px 8px;
        line-height: 1;
        color: #7D7979;
        background: transparent;
        border: none;
        transition: .3s all ease;
        cursor: pointer; }
        .full-page-search .full-page-search__nav .form-group .input-group-addon .clear:hover, .full-page-search .full-page-search__nav .form-group .input-group-addon .clear:focus, .full-page-search .full-page-search__nav .form-group .input-group-addon .clear:active {
          opacity: .5;
          box-shadow: none;
          outline: none; }
    .full-page-search .full-page-search__nav .form-group input {
      border: none;
      font-size: 14px; }

.full-page-search .search-result {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  background-color: #f7f7f7; }
  .full-page-search .search-result .nav.nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    position: relative;
    background: #ffffff; }
    .full-page-search .search-result .nav.nav-tabs li {
      position: relative;
      cursor: pointer; }
      .full-page-search .search-result .nav.nav-tabs li.active:after {
        content: '';
        height: 3px;
        width: 100%;
        background-color: #42A1EC;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0; }
      .full-page-search .search-result .nav.nav-tabs li.active a {
        color: #42A1EC;
        pointer-events: none; }
    .full-page-search .search-result .nav.nav-tabs > li > a {
      padding: 15px 30px;
      display: block;
      line-height: 1;
      text-decoration: none;
      transition: .3s all ease; }
      .full-page-search .search-result .nav.nav-tabs > li > a:hover, .full-page-search .search-result .nav.nav-tabs > li > a:focus, .full-page-search .search-result .nav.nav-tabs > li > a:active {
        background-color: #FAFAFA; }
  .full-page-search .search-result .tab-content {
    overflow: auto;
    display: flex;
    flex: 1;
    flex-basis: 100%; }
    .full-page-search .search-result .tab-content .tab-pane {
      flex-direction: column;
      flex-shrink: 1;
      flex-basis: 100%; }
      .full-page-search .search-result .tab-content .tab-pane.active {
        display: flex; }

.full-page-search .current-location {
  display: block;
  cursor: pointer;
  transition: .3s all ease;
  background: #ffffff;
  padding: 10px 15px;
  align-items: center;
  text-decoration: none; }
  .full-page-search .current-location .current-location__content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .full-page-search .current-location:hover, .full-page-search .current-location:active, .full-page-search .current-location:focus {
    text-decoration: none;
    background: #E8EEF4; }

.circle-number {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #42A1EC;
  border-radius: 50%;
  line-height: 25px;
  color: #FFFFFF;
  font-size: 16px; }

.explain-sect_title {
  color: #42A1EC;
  font-size: 18px; }

@-webkit-keyframes explain {
  0% {
    left: -0%; }
  20% {
    left: -0%; }
  35% {
    left: -100%; }
  45% {
    left: -100%; }
  55% {
    left: -200%; }
  65% {
    left: -200%; }
  75% {
    left: -300%; }
  85% {
    left: -300%; }
  100% {
    left: -0%; } }

@keyframes explain {
  0% {
    left: -0%; }
  20% {
    left: -0%; }
  35% {
    left: -100%; }
  45% {
    left: -100%; }
  55% {
    left: -200%; }
  65% {
    left: -200%; }
  75% {
    left: -300%; }
  85% {
    left: -300%; }
  100% {
    left: -0%; } }

@-webkit-keyframes secondint {
  0% {
    left: 0%; }
  2% {
    left: -100%; }
  38% {
    left: -100%; }
  40% {
    left: -200%; }
  73% {
    left: -200%; }
  75% {
    left: -300%; }
  98% {
    left: -300%; }
  100% {
    left: -400%; } }

@keyframes secondint {
  0% {
    left: 0%; }
  2% {
    left: -100%; }
  38% {
    left: -100%; }
  40% {
    left: -200%; }
  73% {
    left: -200%; }
  75% {
    left: -300%; }
  98% {
    left: -300%; }
  100% {
    left: -400%; } }

@-webkit-keyframes explain-rtl {
  0% {
    right: -100%; }
  20% {
    right: -100%; }
  30% {
    right: -200%; }
  40% {
    right: -200%; }
  50% {
    right: -300%; }
  60% {
    right: -300%; }
  70% {
    right: -400%; }
  80% {
    right: -400%; }
  90% {
    right: -100%; }
  100% {
    right: -100%; } }

@keyframes explain-rtl {
  0% {
    right: -100%; }
  20% {
    right: -100%; }
  30% {
    right: -200%; }
  40% {
    right: -200%; }
  50% {
    right: -300%; }
  60% {
    right: -300%; }
  70% {
    right: -400%; }
  80% {
    right: -400%; }
  90% {
    right: -100%; }
  100% {
    right: -100%; } }

@-webkit-keyframes secondint-rtl {
  0% {
    right: 0%; }
  2% {
    right: -100%; }
  38% {
    right: -100%; }
  40% {
    right: -200%; }
  73% {
    right: -200%; }
  75% {
    right: -300%; }
  98% {
    right: -300%; }
  100% {
    right: -400%; } }

@keyframes secondint-rtl {
  0% {
    right: 0%; }
  2% {
    right: -100%; }
  38% {
    right: -100%; }
  40% {
    right: -200%; }
  73% {
    right: -200%; }
  75% {
    right: -300%; }
  98% {
    right: -300%; }
  100% {
    right: -400%; } }

figure {
  margin: 0; }

div.explain-sect-slider, div.secondint-sect-slider {
  width: 100%;
  overflow: hidden; }

figure.slider {
  position: relative;
  width: 500%;
  -webkit-animation: 20s explain infinite;
  animation: 20s explain infinite; }
  figure.slider figure {
    width: 20%;
    min-height: 80px;
    vertical-align: middle;
    display: inline-block;
    position: inherit; }
  figure.slider img {
    width: 100%;
    height: auto; }

@media (min-width: 1200px) {
  .mobile .container {
    max-width: 1230px; } }

.label-required::after {
  content: "*";
  color: #C94656; }

.input-group-icon {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.25rem; }

.b-addon {
  position: relative; }

.b-addon__icon {
  position: absolute;
  padding: 0.275rem 0.75rem;
  pointer-events: none; }

.addon--left .b-addon__icon {
  left: 0px; }

.addon--left .b-addon__input {
  padding-left: 30px; }

.addon--right .b-addon__icon {
  right: 0px; }

.addon--right .b-addon__input {
  padding-right: 30px; }

.btn-info {
  color: #ffffff; }

.btn-link {
  color: #7D7979; }

.mobile .wrapper {
  margin-top: 25px; }

.mobile .b-search {
  padding: 1rem;
  background-color: #ffffff; }

.mobile .content {
  background-color: #ffffff; }

.mobile .b-navbar {
  min-height: 55px;
  padding: 1rem; }

.mobile .b-navbar--blue {
  background-color: #42A1EC; }

.mobile .b-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1); }

.mobile .b-navbar__icon {
  position: absolute; }

.mobile .b-navbar__center {
  font-size: 18px;
  float: none;
  margin: 0 auto !important;
  color: #ffffff; }

.mobile .b-card__icon {
  margin: 20px 0 30px 0; }

.mobile .b-card__text, .mobile .b-card__subtext {
  text-align: center;
  margin-bottom: 30px; }

.mobile .b-card__subtext {
  margin-top: 15px;
  text-align: center;
  color: #7d7979; }

.mobile .text--small {
  font-size: 14px; }

.mobile .b-card {
  min-height: 100vh;
  border-radius: 0;
  border: none; }

.mobile .b-card__header {
  text-align: center;
  background-color: #ffffff;
  border-radius: 0; }

.mobile .b-card__body {
  padding: 1rem; }

.mobile .b-card__group {
  margin-bottom: 30px; }
  .mobile .b-card__group:first-child {
    margin-top: 14px; }

.mobile .b-filter .b-filter__item {
  padding: 1rem 1rem 1rem 0; }
  .mobile .b-filter .b-filter__item .b-filter__options {
    font-size: 14px;
    color: #6c757d; }

.mobile .bg-default {
  background-color: #42A1EC; }
